@import "~bulma/sass/utilities/initial-variables.sass";

.songlist-button {
  position: absolute;
  right: $ui-padding;
  top: $ui-padding;
}

.karaoke-container {
  height: 50vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
.video-grid {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  justify-content: center;
}

.video-box {
  flex: 1 0 auto;
  position: relative;
  max-width: 50%;

  .video-box-video {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;

    video {
      position: absolute;
      min-width: 100%;
      object-fit: cover;
      min-height: 100%;
    }
  }
}

.youtube-container {
  width: 50%;
  height: 50vh;
  background: black;
  overflow: hidden;
  position: relative;
}

.empty-current-singer {
  width: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  i {
    border: 4px solid white;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

@media (min-width: $widescreen) {
}
