@import "~bulma/sass/utilities/initial-variables.sass";

@keyframes fadeInOut {
  0% {
    padding-top: 2rem;
    opacity: 0;
  }

  25% {
    padding-top: 0;
  }

  50% {
    padding-top: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeInOut {
  animation: fadeInOut 5s forwards;
}
.song-input-wrapper {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;

  .song-input-wrapper-inner {
    width: 100%;
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
  }

  .input-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 25px;
    width: 140px;
    transition: 200ms ease-in;
    z-index: 500;
  }

  hr {
    background-color: rgba($grey, 0.2);
  }

  .add-song-feedback {
    padding: 1rem;
  }
  .input-container {
    border: 2px solid rgba(white, 0.9);
    border-radius: 100px;
    display: flex;
    padding: 0 1rem 0 1rem;
    align-items: center;
    width: 140px;
    transition: 200ms ease-in;

    i {
      max-width: 20px;
    }
    input.input {
      border: none;
      color: white;
      background: transparent;
      cursor: pointer;

      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .song-input-notification-wrapper {
    position: absolute;
    top: 0;
    left: calc(140px + 1rem);
    color: white;
    height: 44px;
    display: flex;
    align-items: center;
    z-index: 500;
  }

  .input-wrapper.active {
    width: 100%;
    background: rgba(white, 0.9);
    color: black;

    .input-container {
      width: 100%;
      transition: 200ms ease-in;
      border-color: transparent;

      input.input {
        color: black;
        cursor: text;
      }
    }
  }
}
