@import "~bulma/sass/utilities/initial-variables.sass";

.song-input-wrapper {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;

  .input-wrapper {
    background: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 25px;
    width: 140px;
    transition: 200ms ease-in;
  }

  hr {
    background-color: rgba($grey, 0.2);
  }

  .add-song-feedback {
    padding: 1rem;
  }
  .input-container {
    border: 2px solid rgba(white, 0.9);
    border-radius: 100px;
    display: flex;
    padding: 0 1rem 0 1rem;
    align-items: center;
    width: 140px;
    transition: 200ms ease-in;

    i {
      max-width: 20px;
    }
    input.input {
      border: none;
      color: white;
      background: transparent;

      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .input-wrapper.active {
    width: 100%;
    background: rgba(white, 0.9);
    color: black;

    .input-container {
      width: 100%;
      transition: 200ms ease-in;
      border-color: transparent;

      input.input {
        color: black;
      }
    }
  }
}
