.video-player {
  width: 100%;
  position: relative;

  iframe {
    z-index: 1;
  }
}

.logo {
  position: absolute;
  top: $ui-padding;
  left: $ui-padding;
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  &.fade {
    opacity: 0;
    transition: 2s;
  }
}
